<h1 class="text-center">Dealer</h1>
<div class="text-center">
  <% @dealer_cards.each do |card| %>
    <p class="card <%= card.name %>-<%= card.suit %>"></p>
  <% end %>
  <br>
Hand Value : <%= @dealer_cards_value %>
</div>

<br>
<br>
<br>

<h1 class="text-center"><%= current_user.first_name  %></h1>
  <div class="text-center">
  <% @player_cards.each do |card| %>
    <p class="card <%= card.name %>-<%= card.suit %>"></p>
  <% end %>
  <br>
Hand Value : <%= @player_cards_value %>
  </div>

  <br>
  <br>

<div class="text-center">
  <%= submit_tag "Hit", :class => 'btn btn-primary' %>
  <%= submit_tag "Stand", :class => 'btn btn-primary' %>
  <%= submit_tag "Split", :class => 'btn btn-primary' %>
  <%= submit_tag "Double", :class => 'btn btn-primary' %>
</div>
