<h1>Player</h1>
  <% @player_cards.each do |card| %>
  <section class="player">
    <p class="card <%= card.name %>-<%= card.suit %>"></p>
  </section>
  <% end %>
Value : <%= @player_cards_value %>

<br>
<br>
<br>
<br>
<br>

<h1>Dealer</h1>
  <% @dealer_cards.each do |card| %>
  <section class="dealer">
    <p class="card <%= card.name %>-<%= card.suit %>"></p>
  </section>
  <% end %>
Value : <%= @dealer_cards_value %>
