
<%= form_for @game do |f| %>
  <div class="text-center">
    <%= submit_tag "Deal Cards", :class => 'btn btn-default'%>
  </div>
<% end %>

<h2 class="text-center">Dealer</h2>
<div class="text-center">
  <% @dealer_cards.each do |card| %>
    <% if card.face_up? %>
      <p class="card <%= card.name %>-<%= card.suit %>"></p>
    <% else %>
      <p class="card card-face-down"></p>
    <% end %>
  <% end %>
<br>
Hand Value : <%= @dealer_cards_value %>
</div>

<br>
<br>
<br>

<% if @game.winner == 'you' %>
  <div class="text-center">
    <h3>Game over! You Win!</h3>
    <br>
    <%= form_for @game do |f| %>
      <div class="text-center">
        <%= submit_tag "New Hand", :class => 'btn btn-default'%>
      </div>
    <% end %>
  </div>
<% end %>

<% if @game.winner == 'dealer' %>
  <div class="text-center">
    <h3>Game over! You Lose!</h3>
    <br>
    <%= form_for Game.new do |f| %>
      <div class="text-center">
        <%= submit_tag "New Hand", :class => 'btn btn-default'%>
      </div>
    <% end %>
  </div>
<% end %>

<% if @game.winner == 'push' %>
  <div class="text-center">
    <h3>Game over! It's A Push!</h3>
    <br>
    <%= form_for Game.new do |f| %>
      <div class="text-center">
        <%= submit_tag "New Hand", :class => 'btn btn-default'%>
      </div>
    <% end %>
  </div>
<% end %>

<h2 class="text-center"><%= current_user.first_name %></h2>
<div class="text-center">
    <% @player_cards.each do |card| %>
    <p class="card <%= card.name %>-<%= card.suit %>"></p>
  <% end %>
  <br>
  <strong>Hand Value:</strong> <%= @player_cards_value %> <br />
  <strong>Chips:</strong> <%= @user.chips %>
</div>

<br>
<br>

<% if @game.winner.nil? %>
  <div class="text-center">
    <%= form_for @game do |f| %>
      <%= submit_tag "Hit", :class => 'btn btn-default' %>
      <%= submit_tag "Stand", :class => 'btn btn-default' %>
      <%= submit_tag "Double Down", :class => 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
