<!DOCTYPE html>
<html>
<head>
  <title>Blackjackproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% if current_user %>
  <li><%= link_to "Sign Out", signout_path %></li>
  <li><%= link_to ("#{current_user.first_name} #{current_user.last_name}"), user_path(current_user) %></li>
<% else %>
  <li><%= link_to "Sign Up", signup_path %></li>
  <li><%= link_to "Sign In", signin_path %></li>
<% end %>

<%= yield %>

</body>
</html>
