<!DOCTYPE html>
<html>
<head>
  <title>Blackjackproject</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="navbar-nav navbar-right nav">
      <% if current_user %>
        <li><%= link_to ("#{current_user.first_name} #{current_user.last_name}"), user_path(current_user) %></li>
        <li><%= link_to "Sign Out", signout_path %></li>
      <% else %>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Sign In", signin_path %></li>
      <% end %>
    </ul>

    <ul class="navbar-nav navbar-left nav">
      <li><%= link_to "Home", root_path %></li>
    </ul>
  </div>
</div>

<%= yield %>

</body>
</html>
